.DS_Store

node_modules
npm-debug.log

test_products
**/tests_config.js
/test_wallets/
/build
/browser_build/
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode/c_cpp_properties.json
.vscode/settings.json
